<section class="section">
  <div class="container">
    <div class="columns is-multiline">
      {{#each cards}}
      <div class="column is-one-quarter">
        <div class="card">
          <div class="card-image">
            <figure class="image is-4by3">
              <img src="{{this.image_url}}" alt="Placeholder image">
            </figure>
          </div>
          <div class="card-content">
            <div class="media">
              <div class="media-content">
                <p class="title is-4">{{this.name}}</p>
                <p class="subtitle is-6">{{this.flavor_text}}</p>
              </div>
            </div>

            <div class="content">
             <strong>Desc:</strong> <span>{{this.description}}</span>
            </div>
          </div>
          <footer style="padding:1rem;" class="card-footer">
            <div>
              <span class="tag is-primary">{{this.kind}}</span>
              <span class="tag is-primary">{{this.rank}}</span>
              <span class="tag is-primary">{{this.set}}</span>
            </div>
          </footer>
        </div>
      </div>
      {{/each}}
    </div>
  </div>
</section>